.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  align-items: center;
  border: 0;
  background-color: #1a3d7bbe;
  
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  
}

