.header {
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);*/
  padding: 5px;
  align-items: center;
  border: 0;
  background: rgba(7, 8, 76, 0.6);

}

.container {
  max-block-size: 1800px;
  display: flex;
  justify-content: space-between;
  
}

