.btn {
  background-color: blue;
  padding: 5px 10px;
  color: white;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img {
  height: 100%;
  object-fit: contain;
  max-width:100%;
}

.imgWrapper {
  max-width: 600px;
  margin: 0;

}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.content {
  width: 310px;
}

.postContent {
  margin-bottom: 16px;
}

.postContent p {
  margin-bottom: 15px;
}

@media (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .imgWrapper {
    max-width: 80vw;
    margin: 0 auto;
  }
}