*{
    font-family: cursive;
    color:rgb(6, 6, 10);

}

.container{
    margin: 0;
    /* display: grid; */
    /* grid-template-areas: 
        "h h h"
        "m m s"
        "f f f" */
    ;
}

body{
    /* background-color: rgb(161, 191, 247); */
    background: url(image/pero.jpg) no-repeat ;
    background-size: 100% auto;
    
    
}