.logo {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.logo > span {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 20px;
  font-weight: 700;
  opacity: 1.0;
}

.logo > span:hover {
  opacity: 1;
}

.img {
  width: 6.0rem;
  height: 4.5rem;
}

.linkLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}