.footer {
  padding: 10px;
  line-height: 17px;
  background: rgba(7, 8, 76, 0.6);
}

.container {
  max-width: 1700px;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 17px;
}






